h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
}

a {
  color: black;
}

/* NAVBAR */
.navbar-nav {
  font-size: 20px;
}
#favorite-count {
  font-size: 1rem;
}

/* Search input */
.no-border {
  border: none;
  outline: none;
  box-shadow: none;
}
.nav-search-form {
  border: solid rgba(0, 0, 0, 0.251);
  background-color: white;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Button */
#btn-load-more,
#btn-filter,
#btn-clear {
  border: 2px solid;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}
#btn-load-more:hover,
#btn-filter:hover {
  border-color: #e2b308;
  background-color: transparent;
  color: #e2b308;
}

/* Sidebar */
.filter-sidebar {
  border-right: 1px solid #ddd;
  padding-right: 15px;
}
.filter-sidebar select {
  margin-bottom: 15px;
}
.filter-sidebar.pe-none {
  background-color: #e2b308;
}

/* Chart */
.chart-box {
  display: flex;
  justify-content: center;
}
.chart-container {
  flex-direction: column;
}
canvas #areaChart {
  width: 500px;
}
/* Recipe-List */
.recipe img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.recipe h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.recipe-thumb-wrapper {
  position: relative;
}
.recipe-thumb-wrapper .favorite-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.favorite-icon > svg {
  pointer-events: none;
}

/* Toast */
#toast-wrapper {
  position: fixed;
  top: 10px;
  right: 20px;
}
.custom-toast {
  background-color: #e2b308;
  color: black;
  text-align: center;
  border-radius: 8px;
  width: 200px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}
.custom-toast.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* ----Detail.html----- */
table {
  width: 50px;
  table-layout: fixed;
}
.table th,
.table td {
  text-align: left;
}
div.ingredient-block {
  margin-left: 20px;
  width: 500px;
}
div.ingredient-info {
  margin-right: 20px;
}
.meal-detail h1 {
  margin: 30px 0;
}
.meal-detail h4 {
  font-size: 18px;
}
.meal-detail img {
  margin: 20px 0;
}
.suggest-related-recipe {
  margin: 48px;
}
.suggest-related-recipe h2 {
  margin-bottom: 20px;
}
.meal-detail .favorite-icon {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  #search-section {
    flex-direction: column;
    align-items: center;
  }
  .recipe {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  #recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
